<!-- start hero-header -->
<div class="hero hero-sm" style="background-image:url('/images/bg-img.jpg');">
  <div class="container">

    <div class="home-search-form">

      <form method="get" action="/search">

        <div class="form-group location-form">
          <input type="text" name="search" class="form-control" placeholder="Where or What would you like to eat?">
        </div>

        <button class="btn btn-primary btn-form">Find koro</button>

      </form>

    </div>

  </div>

</div>
<!-- end hero-header -->
