<div class="col-sm-4 col-md-3">

  <div class="section-title-02">
    <h4><span>Filter Your Result</span></h4>
  </div>

  <div class="sidebar-module">
    <h5>Price Range</h5>
    <div class="range-slider-wrapper">
      <input id="price_range" hidden class="irs-hidden-input" readonly="">
    </div>
  </div>

  <div class="sidebar-module">
    <h5>Rating Range</h5>
    <div class="range-slider-wrapper">
      <input id="star_rating_range" hidden class="irs-hidden-input" readonly="">
    </div>
  </div>

  <div class="sidebar-module">
    <h5>Cuisine Type</h5>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_cuisine-1" name="filter_cuisine" type="checkbox" class="checkbox" checked="checked">
      <label class="" for="filter_cuisine-1">Any</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_cuisine-2" name="filter_cuisine" type="checkbox" class="checkbox">
      <label class="" for="filter_cuisine-2">Yoruba</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_cuisine-3" name="filter_cuisine" type="checkbox" class="checkbox">
      <label class="" for="filter_cuisine-3">Igbo</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_cuisine-4" name="filter_cuisine" type="checkbox" class="checkbox">
      <label class="" for="filter_cuisine-4">Hausa</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_cuisine-5" name="filter_cuisine" type="checkbox" class="checkbox">
      <label class="" for="filter_cuisine-5">Calabar</label>
    </div>


  </div>
<!--
  <div class="sidebar-module">
    <h5>Location</h5>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_amenities-1" name="filter_amenities" type="checkbox" class="checkbox" checked="checked">
      <label class="" for="filter_amenities-1">Any</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_amenities-2" name="filter_amenities" type="checkbox" class="checkbox">
      <label class="" for="filter_amenities-2">Shared outdoor pool</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_amenities-3" name="filter_amenities" type="checkbox" class="checkbox">
      <label class="" for="filter_amenities-3">Hot tub/Jacuzzi</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_amenities-4" name="filter_amenities" type="checkbox" class="checkbox">
      <label class="" for="filter_amenities-4">Satellite or cable TV</label>
    </div>
    <div class="checkbox-block font-icon-checkbox">
      <input id="filter_amenities-5" name="filter_amenities" type="checkbox" class="checkbox">
      <label class="" for="filter_amenities-5">Parking</label>
    </div>
    <div id="location-more-less" class="collapse">
      <div class="inner">
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-6" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-6">A/C or climate control</label>
        </div>
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-7" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-7">Smoking allowed</label>
        </div>
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-8" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-8">Microwave</label>
        </div>
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-9" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-9">Dishwasher</label>
        </div>
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-10" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-10">Refrigerator</label>
        </div>
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-11" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-11">Grill</label>
        </div>
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-12" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-12">Patio / Balcony</label>
        </div>
        <div class="checkbox-block font-icon-checkbox">
          <input id="filter_amenities-13" name="filter_amenities" type="checkbox" class="checkbox">
          <label class="" for="filter_amenities-13">Fitness Room</label>
        </div>
      </div>
    </div>
    <button class="btn btn-more-less" data-toggle="collapse" data-target="#location-more-less">Show more</button>
  </div> -->


</div>
