<div class="main-wrapper scrollspy-container">

			<!-- start hero-header -->
			<div class="hero hero-breadcrumb" style="background-image:url('images/hero-header/03.jpg');">

				<div class="container">

					<h1>Add your restuarant</h1>
					<p>Get more eater &amp; Drinker</p>

				</div>

			</div>

			<div class="container pt-10 pb-30">
				<form method="post" action="/restaurants/create" encType="multipart/form-data" >
				<div class="breadcrumb-wrapper">

					<ol class="breadcrumb">

						<li><a href="#">Home</a></li>
						<li class="active">Add your restuarant</li>

					</ol>

				</div>

				<div class="row mt-40 mb-30">

					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

						<div class="notify-box">

							<div class="notify-inner">

								<p> If you don’t have an account you can create one below by entering your email address/username. Your account details will be confirmed via email.</p>
								{{#if currentUser}}

								{{else}}
								<a href="/auth/login" class="btn btn-primary btn-sm btn-absolute">Sign-up</a>
								{{/if}}
							</div>

						</div>

						<div class="submite-list-wrapper">

							<div class="row">

								<div class="col-md-8">

									<div class="section-title-02 mb-20">

										<h3><span>Background Information</span></h3>

										<p>Get your projects to a new level. Included is animation on view, Parallax block, counters and charts, high resolution graphics etc.</p>

									</div>

								</div>

							</div>

							<div class="submite-list-box">

								<div class="row ga-20">

									<div class="col-xs-12 col-sm-12">

										<div class="form-group form-group-lg">

											<label>Restuarant name:</label>
											<input type="text" name="name" class="form-control">

										</div>

									</div>

									<div class="col-xs-12 col-sm-12">

										<div class="form-group bootstrap3-wysihtml5-wrapper">

											<label>Restuarant information:</label>

											<textarea name="desc" class="bootstrap3-wysihtml5 form-control" style="height: 200px;" placeholder="Enter text ..."></textarea>

										</div>

									</div>

									<div class="col-xs-12 col-sm-12">

										<div class="form-group form-group-lg">
											<label>Cuisine</label>
											<select multiple size='6' class="form-control" name='cuisine[]'>
								         <option value="Igbo">Igbo</option>
								         <option value="Yoruba">Yoruba</option>
								         <option value="Hausa">Hausa</option>
								         <option value="Calabar">Calabar</option>
								      </select>

										</div>

									</div>

								</div>

								<h6 class="text-primary text-uppercase mt-15">Address &amp; Contact</h6>

								<div class="row gap-20">

									<div class="col-xs-12 col-sm-12">

										<div class="form-group">
											<label>Address</label>
											<textarea name="address" class="form-control"></textarea>
										</div>

									</div>

									<div class="col-xss-12 col-xs-6 col-sm-6">

										<div class="form-group">
											<label>City</label>
											<input name="city" type="text" value="Abuja" readonly class="form-control">
										</div>

									</div>

									<!-- <div class="col-xss-12 col-xs-7 col-sm-5">

										<div class="row gap-20">

											<!- <div class="col-xs-8 col-sm-8"> -->

												<!-- <div class="form-group">
													<label>State</label>
													<input type="text" class="form-control">
												</div> -->

											<!-- </div> -->

										<!-- </div> -->

									<!-- </div> -->

									<!-- <div class="col-xss-12 col-xs-12 col-sm-3">

										<div class="form-group">
											<label>Country</label>
											<div class="fancy-select"><select class="custom-select fancified" style="width: 1px; height: 1px; display: block; position: absolute; top: 0px; left: 0px; opacity: 0;">
												<option value="0">Thailand</option>
												<option value="1">Malaysia</option>
												<option value="2">Indonesia</option>
												<option value="3">Italic</option>
												<option value="4">Japan</option>
												<option value="5">Germany</option>
												<option value="6">Egypt</option>
											</select>
											<div class="form-control">Thailand</div><ul class="options"><li data-raw-value="0" class="selected">Thailand</li><li data-raw-value="1">Malaysia</li><li data-raw-value="2">Indonesia</li><li data-raw-value="3">Italic</li><li data-raw-value="4">Japan</li><li data-raw-value="5">Germany</li><li data-raw-value="6">Egypt</li></ul></div>
										</div>

									</div> -->

									<div class="col-xss-12 col-xs-6 col-sm-3">

										<div class="form-group">
											<label>Phone</label>
											<input name="phone" type="text" class="form-control">
										</div>

									</div>

									<div class="col-xss-12 col-xs-6 col-sm-3">

										<div class="form-group">
											<label>Email</label>
											<input name="email" type="email" class="form-control">
										</div>

									</div>

								</div>

								<h6 class="text-primary text-uppercase mt-15">Map</h6>
								<div id="map" style="width:100%; height:300px;"></div>
								<input type="hidden" name="lng" id="lng" />
								<input type="hidden" name="lat" id="lat" />
    <script>
		  var map, marker

      function initMap() {
				//9.05921071704827,7.499799728393555
        var uluru = {lat: 9.05921071704827, lng: 7.499799728393555};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });

				google.maps.event.addListener(map, "click", function (e) {
				    //lat and lng is available in e object
				    var latLng = e.latLng;
						console.log(latLng.lat() +"," + latLng.lng());
						document.getElementById('lat').value = e.latLng.lat()
						document.getElementById('lng').value = e.latLng.lng()

						// This event listener will call addMarker() when the map is clicked.
						if (!marker || !marker.setPosition) {
							marker = new google.maps.Marker({
								position: latLng,
								map: map
							})
						  } else {
						    marker.setPosition(latLng);
						  }

				});
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGNfQNKn-rt2wR9z7szBibbcyayU2TtH0&callback=initMap">
    </script>

							</div>

							<div class="row">

								<div class="col-md-8">

									<div class="section-title-02 mb-20">

										<h3><span>Photos</span></h3>

										<p>Get your projects to a new level. Included is animation on view, Parallax block, counters and charts, high resolution graphics etc.</p>

									</div>

								</div>

							</div>

							<div class="submite-list-box">

								<!-- <div id="file-submit" class="dropzone dz-clickable"> -->
									<input name="file" type="file" multiple="">
									<!-- <div class="dz-default dz-message"><span>Click or Drop Images Here</span></div> -->
								<!-- </div> -->

							</div>

							<div class="mt-30">

								<div class="checkbox-block font-icon-checkbox">
									<input id="term_accept-1" name="term_accept" type="checkbox" class="checkbox">
									<label class="" for="term_accept-1">By checking this box you are agreeing to all Nkoros terms and conditions <a href="#" class="font700">Terms &amp; Conditions</a></label>
								</div>

								<input type="submit" name="Submit" class="btn btn-primary mt-15">

							</div>

						</div>

					</div>

				</div>

			</div>
		</form>

		</div>
