<div class="main-wrapper scrollspy-container">
  {{>search}}

			<div class="container pt-10 pb-30">

				<div class="breadcrumb-wrapper">
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Page</a></li>
						<li class="active">Feature Items</li>
					</ol>
				</div>

				<div class="row mb-10">

					<div class="col-md-8">

						<div class="section-title-02">

							<h3><span>Restaurant in Bangkok <small class="ml-10">/ {{ restaurants.length }} restaurants</small></span></h3>

						</div>

					</div>

				</div>

				<div class="row">

					<div class="col-sm-4 col-md-3">

						<div class="section-title-02">
							<h4><span>Filter Your Result</span></h4>
						</div>

						<div class="sidebar-module">
							<h5>Price Range</h5>
							<div class="range-slider-wrapper">
								<!-- <span class="irs js-irs-0 irs-with-grid"><span class="irs"><span class="irs-line" tabindex="-1"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="visibility: hidden;">$0</span><span class="irs-max" style="visibility: visible;">$3 000</span><span class="irs-from" style="visibility: visible; left: -1.80283%;">$4</span><span class="irs-to" style="visibility: visible; left: 21.48005%;">$800</span><span class="irs-single" style="visibility: hidden; left: 5.20541%;">$4 — $800</span></span><span class="irs-grid" style="width: 95.7529%; left: 2.02355%;"><span class="irs-grid-pol" style="left: 0%"></span><span class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -2.12355%;">0</span><span class="irs-grid-pol small" style="left: 20%"></span><span class="irs-grid-pol small" style="left: 15%"></span><span class="irs-grid-pol small" style="left: 10%"></span><span class="irs-grid-pol small" style="left: 5%"></span><span class="irs-grid-pol" style="left: 25%"></span><span class="irs-grid-text js-grid-text-1" style="left: 25%; visibility: visible; margin-left: -4.05405%;">750</span><span class="irs-grid-pol small" style="left: 45%"></span><span class="irs-grid-pol small" style="left: 40%"></span><span class="irs-grid-pol small" style="left: 35%"></span><span class="irs-grid-pol small" style="left: 30%"></span><span class="irs-grid-pol" style="left: 50%"></span><span class="irs-grid-text js-grid-text-2" style="left: 50%; visibility: visible; margin-left: -5.40541%;">1 500</span><span class="irs-grid-pol small" style="left: 70%"></span><span class="irs-grid-pol small" style="left: 65%"></span><span class="irs-grid-pol small" style="left: 60%"></span><span class="irs-grid-pol small" style="left: 55%"></span><span class="irs-grid-pol" style="left: 75%"></span><span class="irs-grid-text js-grid-text-3" style="left: 75%; visibility: visible; margin-left: -5.40541%;">2 250</span><span class="irs-grid-pol small" style="left: 95%"></span><span class="irs-grid-pol small" style="left: 90%"></span><span class="irs-grid-pol small" style="left: 85%"></span><span class="irs-grid-pol small" style="left: 80%"></span><span class="irs-grid-pol" style="left: 100%"></span><span class="irs-grid-text js-grid-text-4" style="left: 100%; margin-left: -5.40541%;">3 000</span></span><span class="irs-bar" style="left: 2.25122%; width: 25.40644%;"></span><span class="irs-shadow shadow-from" style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span class="irs-slider from" style="left: 0.12767%;"></span><span class="irs-slider to" style="left: 25.53411%;"></span></span><input id="price_range" class="irs-hidden-input" readonly=""> -->
							</div>
						</div>

						<div class="sidebar-module">
							<h5>Rating Range</h5>
							<div class="range-slider-wrapper">
								<span class="irs js-irs-1 irs-with-grid"><span class="irs"><span class="irs-line" tabindex="-1"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="visibility: hidden;">1</span><span class="irs-max" style="visibility: hidden;">5</span><span class="irs-from" style="visibility: visible; left: -0.96525%;">1</span><span class="irs-to" style="visibility: visible; left: 94.78765%;">5</span><span class="irs-single" style="visibility: hidden; left: 43.4363%;">1 — 5</span></span><span class="irs-grid" style="width: 95.7529%; left: 2.02355%;"><span class="irs-grid-pol" style="left: 0%"></span><span class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -2.12355%;">1</span><span class="irs-grid-pol small" style="left: 20%"></span><span class="irs-grid-pol small" style="left: 15%"></span><span class="irs-grid-pol small" style="left: 10%"></span><span class="irs-grid-pol small" style="left: 5%"></span><span class="irs-grid-pol" style="left: 25%"></span><span class="irs-grid-text js-grid-text-1" style="left: 25%; visibility: visible; margin-left: -2.12355%;">2</span><span class="irs-grid-pol small" style="left: 45%"></span><span class="irs-grid-pol small" style="left: 40%"></span><span class="irs-grid-pol small" style="left: 35%"></span><span class="irs-grid-pol small" style="left: 30%"></span><span class="irs-grid-pol" style="left: 50%"></span><span class="irs-grid-text js-grid-text-2" style="left: 50%; visibility: visible; margin-left: -2.12355%;">3</span><span class="irs-grid-pol small" style="left: 70%"></span><span class="irs-grid-pol small" style="left: 65%"></span><span class="irs-grid-pol small" style="left: 60%"></span><span class="irs-grid-pol small" style="left: 55%"></span><span class="irs-grid-pol" style="left: 75%"></span><span class="irs-grid-text js-grid-text-3" style="left: 75%; visibility: visible; margin-left: -2.12355%;">4</span><span class="irs-grid-pol small" style="left: 95%"></span><span class="irs-grid-pol small" style="left: 90%"></span><span class="irs-grid-pol small" style="left: 85%"></span><span class="irs-grid-pol small" style="left: 80%"></span><span class="irs-grid-pol" style="left: 100%"></span><span class="irs-grid-text js-grid-text-4" style="left: 100%; margin-left: -2.12355%;">5</span></span><span class="irs-bar" style="left: 2.12355%; width: 95.7529%;"></span><span class="irs-shadow shadow-from" style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span class="irs-slider from" style="left: 0%;"></span><span class="irs-slider to" style="left: 95.7529%;"></span></span><input id="star_rating_range" class="irs-hidden-input" readonly="">
							</div>
						</div>

						<div class="sidebar-module">
							<h5>Cuisine Type</h5>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_cuisine-1" name="filter_cuisine" type="checkbox" class="checkbox" checked="checked">
								<label class="" for="filter_cuisine-1">Any</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_cuisine-2" name="filter_cuisine" type="checkbox" class="checkbox">
								<label class="" for="filter_cuisine-2">American‎</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_cuisine-3" name="filter_cuisine" type="checkbox" class="checkbox">
								<label class="" for="filter_cuisine-3">Italian</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_cuisine-4" name="filter_cuisine" type="checkbox" class="checkbox">
								<label class="" for="filter_cuisine-4">French</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_cuisine-5" name="filter_cuisine" type="checkbox" class="checkbox">
								<label class="" for="filter_cuisine-5">Indochinese‎</label>
							</div>
							<div id="amenities-more-less" class="collapse">
								<div class="inner">
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_cuisine-6" name="filter_cuisine" type="checkbox" class="checkbox">
										<label class="" for="filter_cuisine-6">Halal</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_cuisine-7" name="filter_cuisine" type="checkbox" class="checkbox">
										<label class="" for="filter_cuisine-7">Thai</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_cuisine-8" name="filter_cuisine" type="checkbox" class="checkbox">
										<label class="" for="filter_cuisine-8">Arabic</label>
									</div>
								</div>
							</div>
							<button class="btn btn-more-less" data-toggle="collapse" data-target="#amenities-more-less">Show more</button>
						</div>

						<div class="sidebar-module">
							<h5>Location</h5>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_amenities-1" name="filter_amenities" type="checkbox" class="checkbox" checked="checked">
								<label class="" for="filter_amenities-1">Any</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_amenities-2" name="filter_amenities" type="checkbox" class="checkbox">
								<label class="" for="filter_amenities-2">Shared outdoor pool</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_amenities-3" name="filter_amenities" type="checkbox" class="checkbox">
								<label class="" for="filter_amenities-3">Hot tub/Jacuzzi</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_amenities-4" name="filter_amenities" type="checkbox" class="checkbox">
								<label class="" for="filter_amenities-4">Satellite or cable TV</label>
							</div>
							<div class="checkbox-block font-icon-checkbox">
								<input id="filter_amenities-5" name="filter_amenities" type="checkbox" class="checkbox">
								<label class="" for="filter_amenities-5">Parking</label>
							</div>
							<div id="location-more-less" class="collapse">
								<div class="inner">
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-6" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-6">A/C or climate control</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-7" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-7">Smoking allowed</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-8" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-8">Microwave</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-9" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-9">Dishwasher</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-10" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-10">Refrigerator</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-11" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-11">Grill</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-12" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-12">Patio / Balcony</label>
									</div>
									<div class="checkbox-block font-icon-checkbox">
										<input id="filter_amenities-13" name="filter_amenities" type="checkbox" class="checkbox">
										<label class="" for="filter_amenities-13">Fitness Room</label>
									</div>
								</div>
							</div>
							<button class="btn btn-more-less" data-toggle="collapse" data-target="#location-more-less">Show more</button>
						</div>



					</div>

					<div class="col-sm-8 col-md-9">

						<div class="sort-by-wrapper clearfix">

							<div class="row gap-5">

								<div class="col-sm-10">

									<div class="text-holder bg-primary">Sort By:</div>
									<ul class="sort-by">
										<li>
											<button class="btn active">Offer <i class="ti-angle-up"></i></button>
										</li>
										<li>
											<button class="btn">Name</button>
										</li>
										<li>
											<button class="btn">Rating</button>
										</li>
										<li>
											<button class="btn">Price</button>
										</li>
										<li>
											<button class="btn">Cuisine</button>
										</li>
										<li>
											<button class="btn">Location</button>
										</li>
									</ul>

								</div>

								<div class="col-sm-2">

									<ul class="layout-option">
										<li class="active"><a href="restuarant-result-grid.html"><i class="ti-view-grid"></i></a></li>
										<li><a href="restuarant-result-list.html"><i class="ti-view-list-alt"></i></a></li>
									</ul>

								</div>

							</div>



						</div>

						  {{>restaurant-results}}
						<div class="pagination-wrapper">

							<div class="GridLex-grid-middle GridLex-grid-noGutter">
								<div class="GridLex-col-6_sm-12_xs-12">
									<div class="text-right text-center-sm mb-10-sm">Showing 1 to 24 from {{ restaurants.length }} restaurants</div>
								</div>
								<div class="GridLex-col-6_sm-12_xs-12">
									<nav>
										<ul class="pagination pagination-text-center-sm mb-5-xs">
											<li>
												<a href="#" aria-label="Previous">
													<span aria-hidden="true">«</span>
												</a>
											</li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li>
												<a href="#" aria-label="Next">
													<span aria-hidden="true">»</span>
												</a>
											</li>
										</ul>
									</nav>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
