<div class="main-wrapper scrollspy-container">
  {{>search}}

			<div class="container pt-10 pb-30">

				<div class="breadcrumb-wrapper">
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Page</a></li>
						<li class="active">Feature Items</li>
					</ol>
				</div>

				<div class="row mb-10">

					<div class="col-md-8">

						<div class="section-title-02">

							<h3><span>Restaurant in Bangkok <small class="ml-10">/ {{ restaurants.length }} restaurants</small></span></h3>

						</div>

					</div>

				</div>

				<div class="row">
          {{> side_search}}

          {{> restaurant-results}}
					
				</div>

			</div>

		</div>
